dsbg_shuffle_custom_icons.json
lib/*.pyd
lib/*.dll
lib/base_library.zip
base_library.zip
dist/
build/
PIL/
charset_normalizer/
__pycache__/
*.pyc
*.pyd
*.dll
dsbg_shuffle_log.txt
lib/dsbg_shuffle_log.txt